*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    margin: 8px;
    background: linear-gradient(
        135deg,
        rgba(131, 58, 180, 0.9) 0%,
        rgba(253, 29, 29, 0.9) 50%,
        rgba(252, 176, 69, 0.9) 100%
    );
}

.calculator-grid {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: minmax(9rem, auto) repeat(5, 8rem);

    font-size: 32px;

    box-shadow: 0px -0px 30px 4px rgba(0, 0, 0, 0.303);
}

.span-two {
    grid-column: span 2;
}

.output {
    background: black;
    color: aqua;
    font-size: inherit;
    grid-column: 1 / -1;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;

    word-wrap: break-word;
    word-break: break-all;
}

.output .prev-operand {
    color: rgb(255, 255, 255, 0.6);
}

.output .Ñurr-operand {
    color: rgba(255, 255, 255, 0.9);
    font-size: 48px;
}

.calculator-grid > button {
    background-color: rgba(255, 255, 255, 0.65);
    border: 0;
    font-size: inherit;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.75);
}
